.menu{
    display: flex;
    justify-content: space-between;
    background-color: #0099CC;
    padding-top: 15px;
    height: 100px;
    text-decoration: none;
    list-style-type: none;
}

.icon{
    display: flex;
    justify-content: space-between;
}
h4{
    text-align: center;
}

.image{
    margin-top: 50px;
}

.img-one{
    width: 60%;
    position: relative;
    left: 128px;
}
.img-two{
    width: 60%;
    position: relative;
    bottom: 300px;
    left: 500px;
}


a, li{
    text-decoration: none;
    list-style-type: none;
}


.alert {
    float: left;
    clear: both;
    width: 460px;
    margin: 20px 34%;
    text-align: left;
    font-size: 20px;
}

.reg-zap{
    width: 646px;
    height: 450px;
    display: flex;
    border: 1px solid;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    position: relative;
    right: 75px;
}
.card, .card-vrach{
    width: 646px;
    height: 450px;
    border: 1px solid;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    position: relative;
    right: 75px;
    margin-left: -48px;
}

.card-vrach{
    margin-left: 470px;
    margin-top: 60px;
    width: 550px;
    height: 370px
}

h3{
    text-align: center;
}

.all-vrach{
    right: 210px;
    font-size: 20px;
}

.all, .all-vrach{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 60px;
}

.zapisi{
    position: relative;
    left: 70px;
}
.text-zapisi, .text-vrach{
    position: relative;
    right: 50px;
}

.header-zap{
    text-align: center;
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    font-style: italic;
}


.header-fio{
    text-align: center;
}



.display{
    display: flex;
    flex-direction: row-reverse;
}
.fio{
    position: relative;
    top: 7px;
}
.date{
    position: relative;
    top: 30px;
}
.cv{
    position: relative;
    top: 25px;
}
.datetime{
    position: relative;
    top: 20px;
}
.number{
    position: relative;
    top: 40px;
}

.input-zap{
    margin-left: 30px;
}
.text-zap{
    margin-left: 13px;
    white-space: nowrap;
    padding-bottom: 15px;
    text-transform: uppercase;
}

form{
    margin-left: 32%;
    width: 500px;
    height: 50px;
    margin-top: 50px;
}

.form-zap input{
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px;
}

span{
    margin-left: 160px;
    color: red;
    font-size: 17px;
    text-transform: uppercase;
}


.btn{
    width: 250px;
    margin-left: 230px;
    border-radius: 50px
}

.last{
    font-size: 30px;
    color: black;
    position: relative;
    right: 20px;
    text-decoration: none;
}

.form-input{
    width: 305px;
    height: 50px;
    padding-left: 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid;
}

.reg-in{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    text-decoration: none;
    list-style-type: none;
}

